.remove-heading{
    .steps-indicator{
        display: none !important ;
    }
}

.bot-help-icon{
  position:absolute;
  display: flex;
  margin-top: 18px;
  right: 17px;
}

.bot-help-icon p{
  background: black;
  font-size: 24px;
  border: 1px solid;
  border-radius: 50%;
  text-align: center;
  width: 35px;
  font-size: 25px; 
  border: 1px solid; 
  border-radius:50%;
}


.bot-header-background {
  background-image: url('widgets/installed/pAIthon-1.0.0/images/bot-ui-background.png');
  background-size: cover; /* Optional: Adjust how the image covers the div */
  /* You can add more background-related styles here as needed */
}

.bot-ai-logo{
  margin-left: 6px;
  padding: 6px;
  font-size: 20px;
  margin-top: 15px;
  border: 1px solid cyan;
  height: fit-content;
  border-radius: 50%;
  margin-right: 8px;
  font-weight: 600;
  width: 38px;
  text-align: center;
  font-family: emoji;
}

.user-you-logo{
  padding: 3px;
  margin-top: 7px;
  height: fit-content;
  border-radius: 50%;
  padding-top: 10px;
  border: 1px solid cyan;
  padding-bottom: 8px;
  margin-left: 5px;
  font-style: normal;
  font-weight: 600;
  font-family: emoji;
}


.markdown-editor-div .custom-markdown-editor{
  font-size: 13.5px;
  font-weight: 400;
  line-height: 1.6;
  padding: 0;
}



.markdown-editor-div .custom-markdown-editor p{
  font-size: 13.5px;
  font-weight: 600;
  line-height: 1.6;
  padding: 0;
}

.bot-title-style{
  background-image: linear-gradient(to right, #33fdff, #ff875a);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 600;
  font-size: xx-large;
}

bot-subtitle-style{
  font-size: medium;
  color: #bbc0c4;
  font-weight: 600;
  font-family: sans-serif;
}

.user-message{
    grid-column: 2 / span 1;
    float: right;
    width: max-content;
    border-radius: 30px;
    background: var(--incoming-chat-bg);;
    border: 1px solid var(--incoming-chat-border);
}
.bot-message{
    width: max-content;
    border-radius: 30px;
    background: var(--outgoing-chat-bg);
    border: 1px solid var(--outgoing-chat-border);
}

.chat-container .chat { 
    padding: 25px 10px;
    display: flex;
    justify-content: center;
    color: var (--text-color);
}

.chat-container .chat .outgoing{
    background: var(--outgoing-chat-bg);
    border: 1px solid var(--outgoing-chat-border);
}

.chat-container .chat .incoming{
    background: var(--incoming-chat-bg);
    border: 1px solid var(--incoming-chat-border);
}

.chat .chat-content{
    display: flex;
    max-width: 1200xp;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

.chat.chat-details{
display: flex;
align-items: center;
}

.chat .chat-details img { width: 35px;
height: 35px;
object-fit: cover; border-radius: 2px;
}

.chat .chat-details p{
    white-space: pre-wrap;
    font-size: 1.05rem;
    padding: 0 50px 0 25px;
}

:root {
    --text-color: #FFFFFF;
    --icon-color: #ACACBE;
    --icon-hover-bg: #5b5e71;
    --placeholder-color: #cccccc;
    --outgoing-chat-bg: #000000;
    --incoming-chat-bg: #20a6af;
    --outgoing-chat-border: #343541;
    --incoming-chat-border: #444654;
}


.bot-loader {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    left: 30px;
    position: relative;
    color: #c4c4c4;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
  }
  
  @keyframes animloader {
    0% {
      box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px;
    }
    25% {
      box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px;
    }
    50% {
      box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 2px;
    }
    75% {
      box-shadow: 14px 0 0 2px,  38px 0 0 -2px,  -14px 0 0 -2px;
    }
    100% {
      box-shadow: 14px 0 0 -2px,  38px 0 0 2px,  -14px 0 0 -2px;
    }
  }


  
  
